* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html, body {
   height: 100%;  /* footer on page bottom with flexbox*/
}

body {
   display: flex;
   flex-direction: column;
   font-family: sans-serif;
   background-color: #f3f3f3;
}

.content {
   flex: 1 0 auto;
}

h1 {
   padding: 0.5em;
   margin: 1rem 1rem 2rem;
   text-align: center;
   border-radius: 3px;
   background-color: lightgreen;
}
h2 {
   padding: 0.65em;
   margin: 3rem 1rem 2rem;
   border-radius: 3px;
   background-color: lightgreen;
}

p {
   margin: 0 1.2rem;
   line-height: 200%;
}
span {
   font-weight: bold;
}

form {
   margin: 1.2rem;
}
fieldset {
   padding: 1rem;
   border-radius: 5px;
}
input {
   margin: 0.5rem 0;
   padding: 0 0.5rem;
}
input[type='text'] {
   width: 12rem;
}

code {
   font-family: 'Fira Mono', monospace;
   background-color: lightsteelblue;
}

footer {
   flex-shrink: 0;
   margin: 3rem 1rem 1rem;
   padding: 0.75rem;
   text-align: center;
   font-size: 0.85rem;
   background-color: #d3d3d3;
   border-radius: 5px;
}